# -*- coding: utf-8 -*-
# vim: ft=yaml
---
k3s:
  # the version of this to use
  version: 'latest'
  install:
    quickstart:
      enabled: true

  # https://rancher.com/docs/k3s/latest/en/installation/install-options/server-config/
  server:
    logging:
      verbosity: 0
      to_file: "/var/log/k3s.log"

    runtime:
      use_docker: true

  # https://rancher.com/docs/k3s/latest/en/installation/install-options/agent-config/
  agent:
    runtime:
      use_docker: true

  # Just for testing purposes
  winner: pillar
  added_in_pillar: pillar_value
